{% extends '_base.html.twig' %}

{% block stylesheets %}
    <link href="//gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="match">
        <div class="status">
            {% if match.status == "Final" %}
                <p>Score final</p>
            {% elseif match.status in ["1st Qtr", "2nd Qtr", "Halftime", "3rd Qtr", "4th Qtr"] %}
                <p class="blink">Match en
                    cours: {{ match.status }}{% if match.status != "Halftime" %}: {{ match.time }}{% endif %}</p>
            {% else %}
                <p>Heure de début du match: {{ match.status }}</p>
            {% endif %}
        </div>

        <div class="homeTeam {{ match.home_team.abbreviation }}">
            <h3 class="home">Domicile</h3>
            <p class="nameHome">{{ match.home_team.full_name }}</p>
            <p class="scoreHome{% if match.status == "Final" and match.home_team_score > match.visitor_team_score %} bold{% endif %}">{{ match.home_team_score }}</p>
        </div>

        <div class="visitorTeam {{ match.visitor_team.abbreviation }}">
            <h3 class="visitor">Visiteur</h3>
            <p class="nameVisitor">{{ match.visitor_team.full_name }}</p>
            <p class="scoreVisitor{% if match.status == "Final" and match.visitor_team_score > match.home_team_score %} bold{% endif %}">{{ match.visitor_team_score }}</p>
        </div>
    </div>

    Voir les stats de <input type="checkbox" checked data-toggle="toggle" onchange="changeStatsTeam(this)"
                             data-on="{{ match.home_team.full_name }}" data-off="{{ match.visitor_team.full_name }}"
                             data-width="300" data-height="0" data-onstyle="{{ match.home_team.abbreviation }}"
                             data-offstyle="{{ match.visitor_team.abbreviation }}">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">JOUEUR</th>
                <th scope="col">P</th>
                <th scope="col">MIN</th>
                <th scope="col">PTS</th>
                <th scope="col">REB</th>
                <th scope="col">AST</th>
                <th scope="col">STL</th>
                <th scope="col">BLK</th>
                <th scope="col">FGM</th>
                <th scope="col">FGA</th>
                <th scope="col">FG%</th>
                <th scope="col">3PM</th>
                <th scope="col">3PA</th>
                <th scope="col">3P%</th>
                <th scope="col">FTM</th>
                <th scope="col">FTA</th>
                <th scope="col">FT%</th>
                <th scope="col">OREB</th>
                <th scope="col">DREB</th>
                <th scope="col">TOV</th>
                <th scope="col">PF</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                {% if stat.player %}
                    <tr class="{{ stat.team.name }}">
                        <th scope="row">{% if stat.player.first_name %}{{ stat.player.first_name }}{% endif %} {% if stat.player.last_name %}{{ stat.player.last_name }}{% endif %}</th>
                        <td>{{ stat.player.position }}</td>
                        <td>{{ stat.min }}</td>
                        <td>{{ stat.pts }}</td>
                        <td>{{ stat.reb }}</td>
                        <td>{{ stat.ast }}</td>
                        <td>{{ stat.stl }}</td>
                        <td>{{ stat.blk }}</td>
                        <td>{{ stat.fgm }}</td>
                        <td>{{ stat.fga }}</td>
                        <td>{{ stat.fg_pct }}</td>
                        <td>{{ stat.fg3m }}</td>
                        <td>{{ stat.fg3a }}</td>
                        <td>{{ stat.fg3_pct }}</td>
                        <td>{{ stat.ftm }}</td>
                        <td>{{ stat.fta }}</td>
                        <td>{{ stat.ft_pct }}</td>
                        <td>{{ stat.oreb }}</td>
                        <td>{{ stat.dreb }}</td>
                        <td>{{ stat.turnover }}</td>
                        <td>{{ stat.pf }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>
        (function () {
            let input  = document.getElementsByTagName('input')[0];

            changeStatsTeam(input);
        })();

        function changeStatsTeam(input) {
            let teamToDisplay;
            if (input.checked) {
                teamToDisplay = '{{ match.home_team.name }}';
            } else {
                teamToDisplay = '{{ match.visitor_team.name }}';
            }

            let elementsToDisplay = document.getElementsByTagName('tr');

            for (let i = 0; i < elementsToDisplay.length; i++) {
                let element = elementsToDisplay[i];

                if (element.className !== '') {
                    if (element.className === teamToDisplay) {
                        element.style.display = '';
                    } else {
                        element.style.display = 'none';
                    }
                }
            }
        }
    </script>
{% endblock %}
