{% extends '_base.html.twig' %}

{% block body %}
    <div class="matchs">
    {% for dateMatch, matchs in totalMatchs %}
        <h2>
            {% if dateMatch|date('d/m/Y') == date('+1days')|date('d/m/Y') %}
                Match de demain
            {% elseif dateMatch|date('d/m/Y') == date()|date('d/m/Y') %}
                Match d'aujourd'hui
            {% elseif dateMatch|date('d/m/Y') == date('-1days')|date('d/m/Y') %}
                Match d'hier
            {% else %}
                Match du {{ dateMatch|date('d/m/Y') }}
            {% endif %}
            {% if matchs|length > 0 %} ({{ matchs|length }}){% endif %}
        </h2>

        {% if matchs %}
            {% for match in matchs %}
                <a href="{{ path('statsMatch', {'idMatch': match.id}) }}">
                    <div class="match">
                        <div class="status">
                            {% if match.status == "Final" %}
                                <p>Score final</p>
                            {% elseif match.status in ["1st Qtr", "2nd Qtr", "Halftime", "3rd Qtr", "4th Qtr"] %}
                                <p class="blink">Match en
                                    cours: {{ match.status }}{% if match.status != "Halftime" %}: {{ match.time }}{% endif %}</p>
                            {% else %}
                                <p>Heure de début du match: {{ match.status }}</p>
                            {% endif %}
                        </div>

                        <div class="homeTeam {{ match.home_team.abbreviation }}">
                            <h3 class="home">Domicile</h3>
                            <p class="nameHome">{{ match.home_team.full_name }}</p>
                            <p class="scoreHome{% if match.status == "Final" and match.home_team_score > match.visitor_team_score %} bold{% endif %}">{{ match.home_team_score }}</p>
                        </div>

                        <div class="visitorTeam {{ match.visitor_team.abbreviation }}">
                            <h3 class="visitor">Visiteur</h3>
                            <p class="nameVisitor">{{ match.visitor_team.full_name }}</p>
                            <p class="scoreVisitor{% if match.status == "Final" and match.visitor_team_score > match.home_team_score %} bold{% endif %}">{{ match.visitor_team_score }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>
                {% if dateMatch|date('d/m/Y') == date('+1days')|date('d/m/Y') %}
                    Il n'y a pas de match demain :(
                {% elseif dateMatch|date('d/m/Y') == date()|date('d/m/Y') %}
                    Il n'y a pas de match aujourd'hui :(
                {% elseif dateMatch|date('d/m/Y') == date('-1days')|date('d/m/Y') %}
                    Il n'y avait pas de match hier :(
                {% else %}
                    Il n'y avait pas de match le {{ dateMatch|date('d/m/Y') }} :(
                {% endif %}
            </p>
        {% endif %}

        {% if matchs != totalMatchs|last %}
            <hr/>
        {% endif %}
    {% endfor %}
{% endblock %}