@import "global";

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
    text-decoration: none;
  }
}

p, h3 {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.blink {
  animation: Wink 1s infinite;
}

@keyframes Wink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 2em;
}

footer {
  grid-area: footer;
  background-color: lighten($black, 20%);
  color: $white;

  .legals {
    text-align: center;
    margin: 40px auto 40px auto;
  }
}

.match {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "status status" "homeTeam visitorTeam";

  margin-bottom: 20px;

  .status {
    grid-area: status;

    text-align: center;
    background-color: rgb(205, 205, 205);

  }

  .homeTeam {
    grid-area: homeTeam;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "home" "nameHome" "scoreHome";


    @media (min-width: $screen-sm) {
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "home scoreHome" "nameHome scoreHome";
    }

    .home {
      grid-area: home;

    }

    .nameHome {
      grid-area: nameHome;

      font-size: large;
    }

    .scoreHome {
      grid-area: scoreHome;

      align-self: center;

      text-align: right;
      margin-right: 5px;
      font-size: xx-large;
    }
  }

  .visitorTeam {
    grid-area: visitorTeam;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "visitor" "nameVisitor" "scoreVisitor";

    @media (min-width: $screen-sm) {
      grid-template-rows: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "scoreVisitor visitor" "scoreVisitor nameVisitor";
    }

    .visitor {
      grid-area: visitor;

      text-align: right;
    }

    .scoreVisitor {
      grid-area: scoreVisitor;

      align-self: center;

      margin-left: 5px;
      font-size: xx-large;
    }

    .nameVisitor {
      grid-area: nameVisitor;

      text-align: right;
      font-size: large;
    }
  }
}


/************** TEAM COLOR **************/

.ATL,
.btn-ATL {
  background-color: $ATL;
}

.BKN,
.btn-BKN {
  background-color: $BKN;
  color: white;

  &:hover {
    color: white;
  }
}

.BOS,
.btn-BOS {
  background-color: $BOS;
  color: white;

  &:hover {
    color: white;
  }
}

.CHA,
.btn-CHA {
  background-color: $CHA;
  color: white;

  &:hover {
    color: white;
  }
}

.CHI,
.btn-CHI {
  background-color: $CHI;
  color: white;

  &:hover {
    color: white;
  }
}

.CLE,
.btn-CLE {
  background-color: $CLE;
  color: white;

  &:hover {
    color: white;
  }
}

.DAL,
.btn-DAL {
  background-color: $DAL;
  color: white;

  &:hover {
    color: white;
  }
}

.DEN,
.btn-DEN {
  background-color: $DEN;
  color: white;

  &:hover {
    color: white;
  }
}

.DET,
.btn-DET {
  background-color: $DET;
  color: white;

  &:hover {
    color: white;
  }
}

.GSW,
.btn-GSW{
  background-color: $GSW;
  color: white;

  &:hover {
    color: white;
  }
}

.HOU,
.btn-HOU {
  background-color: $HOU;
  color: white;

  &:hover {
    color: white;
  }
}

.IND,
.btn-IND {
  background-color: $IND;
  color: white;

  &:hover {
    color: white;
  }
}

.LAC,
.btn-LAC {
  background-color: $LAC;
  color: white;

  &:hover {
    color: white;
  }
}

.LAL,
.btn-LAL{
  background-color: $LAL;
  color: white;

  &:hover {
    color: white;
  }
}

.MEM,
.btn-MEM {
  background-color: $MEM;
}

.MIA,
.btn-MIA {
  background-color: $MIA;
  color: white;

  &:hover {
    color: white;
  }
}

.MIL,
.btn-MIL {
  background-color: $MIL;
  color: white;

  &:hover {
    color: white;
  }
}

.MIN,
.btn-MIN {
  background-color: $MIN;
  color: white;

  &:hover {
    color: white;
  }
}

.NOP,
.btn-NOP {
  background-color: $NOP;
  color: white;

  &:hover {
    color: white;
  }
}

.NYK,
.btn-NYK {
  background-color: $NYK;
  color: white;

  &:hover {
    color: white;
  }
}

.OKC,
.btn-OKC {
  background-color: $OKC;
}

.ORL,
.btn-ORL {
  background-color: $ORL;
}

.PHI,
.btn-PHI {
  background-color: $PHI;
  color: white;

  &:hover {
    color: white;
  }
}

.PHX,
.btn-PHX {
  background-color: $PHX;
  color: white;

  &:hover {
    color: white;
  }
}

.POR,
.btn-POR {
  background-color: $POR;
}

.SAC,
.btn-SAC {
  background-color: $SAC;
  color: white;

  &:hover {
    color: white;
  }
}

.SAS,
.btn-SAS {
  background-color: $SAS;
}

.TOR,
.btn-TOR {
  background-color: $TOR;
  color: white;

  &:hover {
    color: white;
  }
}

.UTA,
.btn-UTA {
  background-color: $UTA;
  color: white;

  &:hover {
    color: white;
  }
}

.WAS,
.btn-WAS {
  background-color: $WAS;
  color: white;

  &:hover {
    color: white;
  }
}
