// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

$ATL: rgb(225,68,52);
$BKN: rgb(0, 0, 0);
$BOS: rgb(0,122,51);
$CHA: rgb(29,17,96);
$CHI: rgb(206,17,65);
$CLE: rgb(111,38,61);
$DAL: rgb(0,83,188);
$DEN: rgb(13,34,64);
$DET: rgb(200,16,46);
$GSW: rgb(0,107,182);
$HOU: rgb(206,17,65);
$IND: rgb(0,45,98);
$LAC: rgb(200,16,46);
$LAL: rgb(85,37,130);
$MEM: rgb(93,118,169);
$MIA: rgb(152,0,46);
$MIL: rgb(0,71,27);
$MIN: rgb(12,35,64);
$NOP: rgb(0,22,65);
$NYK: rgb(0,107,182);
$OKC: rgb(0,125,195);
$ORL: rgb(0,125,197);
$PHI: rgb(0,107,182);
$PHX: rgb(29,17,96);
$POR: rgb(224,58,62);
$SAC: rgb(91,43,130);
$SAS: rgb(196,206,211);
$TOR: rgb(206,17,65);
$UTA: rgb(0,43,92);
$WAS: rgb(0,43,92);

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
